---
layout: layouts/home.njk
title: Code Corpus API
---
<h2>Code Corpus API</h2>

This was based on an idea to extend the available raw materials for creating micromaterials based on actual functions.

I wrote a <a href="https://micromaterialsblog.wordpress.com/2020/10/21/more-authentic-parsons-problems/">blog post</a> about
using authentic functions to create parsons problems, and it got me thinking about how other people would create similar materials.
They would have to grab the functions from GitHub (or somewhere) themselves, then use that raw data to create web-based materials.

So I decided I wanted to create something that could act as "infrastructure" for people to use in materials creation.
They could just call an endpoint in a front-end application (very JAM-stack) and get the raw material at runtime.

<h4><a href="https://github.com/lpmi-13/code-corpus-api">source code on GitHub</a></h4>
